/demo1/ServletClientToRemoteSOAPws/nbproject/private/
/demo1/ServletClientToRemoteSOAPws/nbbuild/
/demo1/ServletClientToRemoteSOAPws/dist/
/demo1/TIES4560-Task-1/ServletClientToRemoteSOAPws/dist/
/demo1/TIES4560-Task-1/ServletClientToRemoteSOAPws/nbbuild/
/demo1/TIES4560-Task-1/ServletClientToRemoteSOAPws/nbproject/private/
/demo2/WebServiceWithWEBAPI/nbproject/private/
/demo2/WebServiceWithWEBAPI/dist/
/demo2/WebServiceWithWEBAPI/nbbuild/