[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

eve = "*"
gunicorn = "*"
"eve-swagger" = {ref = "fix_if_match_header_required", git = "https://github.com/epiphone/eve-swagger.git"}
pyjwt = "*"



[dev-packages]

pylint = "*"
ipdb = "*"