[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

eve = "*"
gunicorn = "*"
eve-swagger = {git = "https://github.com/epiphone/eve-swagger.git", ref = "fix-if-match-header-required"}



[dev-packages]

pylint = "*"
ipdb = "*"



